# Environments
.venv

# Byte-compiled / optimized / DLL files
__pycache__
build
dist
.coverage
*.egg-info

# Cache directories
*_cache

# Volumes
volume/tinydb.json

# Editor files
.vscode

# Local libs
sthali_db
