# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
dist/
.coverage
*.egg-info/

# Cache directories
*_cache

# DB volumes
tinydb.json

# Editor files
.vscode
