{% extends "base.html" %}

{% block content %}
<form id="resourceForm">
    {% for k, v in form_fields.items() %}
    <div class="mb-3">
        <label for="{{ k }}" class="form-label">{{ k }}</label>
        <input type="{{ v.type }}" name="{{ k }}" class="form-control bg-dark text-white" id="{{ k }}">
    </div>
    {% endfor %}
    <button type="submit" id="submitBtn" class="btn btn-primary">Create</button>
</form>

<script>
    document.getElementById("resourceForm").addEventListener("submit", async (event) => {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        // const form = document.getElementById("resourceForm");
        // const data = Object.fromEntries(new FormData(form));
        // console.log(form);
        // console.log(data);
        // console.log("{{ submit_url }}");
        const res = await fetch("{{ submit_url }}", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
        });
        console.log(res.text());
        if (res.ok === 201) window.location.replace("/{{ callback }}");
        else console.error(await res.text());
    });
</script>

{% endblock %}